* {margin:0;padding:0}


.table {
    width: 25vw;
}
.table td{
    padding:50px;
}
button {
    padding:30px;
    background-color: #4eb54a;
    border-style: none;
    border-radius: 100%;
    transition: all 0.3s ease;

}

.title {
    text-align: center;
    margin: 5vh;
    border: 10px #ffffff ;
}

.image {
    border-style: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.x {
    background-image: url('../img/x.jpg');
}
.o {
    background-image: url('../img/o.jpg');
}